h1{
	/*background-color: yellow;*/
	height: 250px;
	font-size: 100px;
	/*border-top: 300px;*/
	border:0;
	margin:0;
	background-color: grey;
}
.mid
{
	width: 70%;
	background-color: lightgrey;
	margin: auto;

}
.in img
{
	width: 100px;
	height: 100px;
	border-radius: 100px;
}
.in
{
	width: 30%;
	height: 450px;
	/*border: 1px solid black; */
	float: left;
	margin:10px;
	background-color: white;
	padding-left: 14px;
	border-radius: 5px;
	box-shadow: 0 0 5px;
	margin-top: 100px;
}
.in p
{
	text-align: justify;
	margin: 15px;
}
.clearfix
{
	clear: both;
}
.me
{
	height: 50px;
	background-color: grey;
	padding-top: 10px;
	margin-top: 50px;
}
.mem img
{
	width: 100%;
	height: 100%;
}